.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90vh;
    flex: .2;
    min-width: 230px;
    background-color: #040404;
}
.sidebar>img{
    height: 3rem;
    margin-top: 1rem;
    object-fit: contain;
}
.sidebar>hr{
    border: 1px solid gray;
    background-color: gray;
    opacity: .8;
    width: 90%;
}
.sidebar-title{
    color: gray;
    font-size: 1rem;
    font-weight: 800;
    /* margin-top: 1rem; */
    padding-left: 25px;

}