.body{
    
    flex: .8;
    padding: 30px;
    background: linear-gradient(#322929,rgba(26,172,233,1));
    display: flex;
    flex-direction: column;
    height: 96vh;
    flex: 0.8;
    overflow-y: overlay;
}
.body::-webkit-scrollbar{
    display: none;
}
.body-suffle{
    font-size: 2rem;
}
.body-info>img{
    height:30vh;
    border-radius: 1rem;
    margin-top: 1rem;
    object-fit: contain;
}
.body-info{
    display: flex;
    gap: .2rem;
    align-items:flex-end;
    color: white;

}

.body-icons{
    display: flex;
    align-items: center;
    color:white
}
.body-icons>.MuiSvgIcon-root{
    font-size: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.body-shuffle{
    font-size: 80px !important;
    color: green !important;
}
.body-video{
    height: 10rem;


}
.body-video>img{
    position: absolute;
    bottom: 6rem;
    opacity: .8;
    right: 1rem;
    border-radius: 1rem;

    height: 10rem
}
.body-video>img:hover{
    transition: transform .3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
.body-video-visibility{
    color: white;
    position: absolute;
    bottom: 6rem;
    opacity: .5;
    right: 1rem;
    cursor: pointer;
}
.body-video-visibility-off{
    color: white;
    position: absolute;
    bottom: 6rem;
    opacity: .5;
    right: 1rem;
    cursor: pointer;
}
.full-label{
    position: absolute;
    top: 10rem;
    font-size: 1rem;
    right: 2rem;
    color: white;
    opacity: .5;
    cursor: pointer;
}