.header-left{
    flex: .5;
    min-width: 85px;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}
.header-left>input{
    all: unset;
    width: 100%;

}
.header{
    display: flex ; 
}
.header-right{
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
